@charset "UTF-8";
*,
*::after,
*::before {
  box-sizing: border-box;
}

li {
  padding-left: 0;
}

figure {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
input {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  position: relative;
  font-family: "Proxima Nova", "Comforta", "Montserrat", Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  color: #1E2E36;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1920px;
  padding: 0 50px;
  margin: 0 auto;
}

.title {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 125%;
  text-align: center;
  color: #1E2E36;
}
.title::first-letter {
  background: linear-gradient(90deg, #44C697 50%, rgba(0, 0, 0, 0) 50%);
}

input:not(:last-child) {
  margin: 0 0 15px;
}

.link_button {
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  padding: 15px 50px;
  border-radius: 3px;
  color: white;
  background-color: #44C697;
  transition: all 0.3s;
}
.link_button:hover {
  color: black;
  box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.5);
}

.header {
  background-color: white;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}
.header-top {
  padding: 10px 0;
  border-bottom: 1px solid rgba(30, 46, 54, 0.6);
}
.header-top__inner,
.header-top .social-wrapper,
.header-top .social-list,
.header-top .menu-list {
  display: flex;
  align-items: center;
}
.header .menu {
  margin-left: auto;
  text-transform: uppercase;
}
.header .menu-list {
  gap: 15px;
}
.header .menu-list a {
  padding: 0.5em 0;
  color: #1E2E36;
  position: relative;
  letter-spacing: 1px;
  text-decoration: none;
}
.header .menu-list a:before, .header .menu-list a:after {
  position: absolute;
  transition: all 0.35s ease;
}
.header .menu-list a:before {
  bottom: 0;
  display: block;
  height: 3px;
  width: 0%;
  content: "";
  background-color: #44C697;
}
.header .menu-list a:hover:before, .header .menu-list .current a:before {
  opacity: 1;
  width: 100%;
}
.header .menu-list a:hover:after, .header .menu-list .current a:after {
  max-width: 100%;
}
.header .social-wrapper {
  gap: 50px;
}
.header .social-list {
  gap: 5px;
}
.header .social-list__img {
  transition: all 0.3s;
}
.header .social-list__img path {
  fill: black;
}
.header .social-list__img:hover path {
  fill: #44C697;
  transition: all 0.3s;
}
.header .phone__link {
  display: flex;
  align-items: center;
}
.header .phone__link::after {
  content: url("../images/svg/Arrow.svg");
  vertical-align: middle;
  transform: scale(0.8) rotate(0deg);
  transition: all 0.3s;
}
.header .phone__link::before {
  content: url("../images/svg/Telephone.svg");
  padding: 0 5px 0 0;
  vertical-align: middle;
}
.header .phone__link:hover::after {
  transform: scale(0.8) rotate(90deg);
  transition: all 0.3s;
}
.header-bot {
  padding: 15px 0;
}
.header-bot__inner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  align-items: center;
}
.header .categories-list {
  display: flex;
  gap: 15px;
  text-transform: uppercase;
}
.header .callback-bucket {
  width: 100%;
  text-transform: uppercase;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 30px;
}
.header .bucket__link {
  display: flex;
  align-items: center;
}
.header .bucket__link::before {
  content: url("../images/svg/Bucket.svg");
  transform: scale(0.8);
}
.header .categories {
  text-align: start;
}
.header .categories__link_dropdown {
  display: flex;
  align-items: center;
}
.header .categories__link_dropdown::after {
  content: url("../images/svg/Arrow.svg");
  transform: scale(0.8) rotate(0deg);
  transition: all 0.3s;
}
.header .categories__link_dropdown:hover::after {
  transform: scale(0.8) rotate(90deg);
  transition: all 0.3s;
}
.header .logo {
  width: 100%;
}

.header_mobile {
  position: fixed;
  top: 0;
  z-index: 998;
  background-color: white;
  width: 100%;
}
.header_mobile__inner {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_mobile__inner .social-wrapper {
  display: flex;
  align-items: center;
  gap: 15px;
}
.header_mobile__inner .social-wrapper .social-list {
  display: flex;
  align-items: center;
}
.header_mobile__inner .social-wrapper .phone__link {
  display: flex;
  align-items: center;
}
.header_mobile__inner .social-wrapper .phone__link::after {
  content: url("../images/svg/Arrow.svg");
  vertical-align: middle;
  transform: scale(0.8) rotate(0deg);
  transition: all 0.3s;
}
.header_mobile__inner .social-wrapper .phone__link::before {
  content: url("../images/svg/Telephone.svg");
  padding: 0 5px 0 0;
  vertical-align: middle;
}
.header_mobile__inner .social-wrapper .phone__link:hover::after {
  transform: scale(0.8) rotate(90deg);
  transition: all 0.3s;
}

.hero {
  margin-top: 164px;
  width: 100%;
  height: calc(100vh - 164px);
  position: relative;
}
.hero .container {
  position: absolute;
  top: 0;
  z-index: 2;
}
.hero__inner {
  position: relative;
}
.hero-minimodal {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  border-left: 15px solid #44C697;
  padding: 100px 70px;
  background-color: white;
}
.hero-title {
  font-weight: 700;
  font-size: 64px;
  margin: 0 0 50px;
}
.hero-subtitle {
  font-weight: 700;
  font-size: 36px;
  margin: 0 0 10px;
}
.hero-descript {
  text-align: center;
  font-weight: 400;
  font-size: 36px;
  margin: 0 0 30px;
}
.hero__link {
  text-transform: uppercase;
  max-width: 250px;
  margin: 0 0 50px;
}
.hero-counter {
  text-align: center;
  font-size: 24px;
  margin: 0 0 5px;
}
.hero-counter::first-letter {
  font-size: 38px;
}
.hero .hero-buttons-wrapper {
  display: flex;
  gap: 10px;
}
.hero__link_prev {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #1E2E36;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: white;
}
.hero__link_prev::before {
  content: "<";
  color: black;
  transform: translateX(-1px);
}
.hero__link_next {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #1E2E36;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: #1E2E36;
}
.hero__link_next::before {
  content: ">";
  color: white;
}

.benefits {
  padding: 100px 0 0;
}
.benefits__title {
  margin: 0 0 50px;
}
.benefits-list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.benefits__item {
  color: white;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  padding: 0 15px;
  width: 100%;
  height: 100%;
  max-width: 580px;
  min-width: 275px;
  min-height: 250px;
  gap: 30px;
  position: relative;
}
.benefits__item:nth-child(1) {
  background-image: url("../images/furniture.png");
}
.benefits__item:nth-child(2) {
  background-image: url("../images/humans.png");
}
.benefits__item:nth-child(3) {
  background-image: url("../images/dell.png");
}
.benefits__item h3 {
  display: inline;
  font-size: 36px;
  padding: 0 0 5px;
  border-bottom: 3px solid #44C697;
  color: #fff;
  transform: translate3d(0, 50%, 0);
  transition: all 0.3s;
}
.benefits__item p {
  color: white;
  display: inline-block;
  width: 100%;
  max-width: 400px;
  font-weight: 400;
  font-size: 18px;
  opacity: 0;
  transition: all 0.3s;
  transform: translate3d(0, 10px, 0);
}
.benefits__item:hover {
  cursor: pointer;
}
.benefits__item:hover h3 {
  transform: translate3d(0, -30%, 0);
}
.benefits__item:hover p {
  opacity: 1;
  transform: translate3d(0, -15px, 0);
}

.products {
  padding: 100px 0 0;
}
.products__inner {
  text-align: center;
}
.products__title {
  margin: 0 0 50px;
}
.products .filter-list {
  display: flex;
  justify-content: space-between;
  margin: 0 0 85px;
}
.products .filter__img {
  margin: 0 0 10px;
}
.products .filter__img path {
  fill: black;
  transition: all 0.3s;
}
.products .filter__title {
  text-transform: uppercase;
  transition: all 0.3s;
  position: relative;
  padding: 0 0 5px;
}
.products .filter__title:before, .products .filter__title:after {
  position: absolute;
  transition: all 0.3s ease;
}
.products .filter__title:before {
  bottom: 0;
  display: block;
  height: 3px;
  width: 0%;
  content: "";
  background-color: #44C697;
}
.products .filter__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.products .filter__item:hover .filter__img path {
  fill: #44C697;
  transition: all 0.3s;
}
.products .filter__item:hover .filter__title:after {
  max-width: 100%;
  transition: all 0.3s;
}
.products .filter__item:hover .filter__title::before {
  opacity: 1;
  width: 100%;
}
.products .card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px 30px;
  margin: 0 0 50px;
}
.products .card__item {
  width: 100%;
}
.products .card__item:hover .card-text-wrapper {
  background-color: #44C697;
  transition: all 0.3s;
}
.products .card__item:nth-child(2) .card__price, .products .card__item:last-child .card__price {
  color: red;
}
.products .card__item:nth-child(2) .card__price::after, .products .card__item:last-child .card__price::after {
  content: "8 999 ГРН";
  font-size: small;
  color: grey;
  text-decoration: line-through;
}
.products .card__item:nth-child(1) .card__link:after, .products .card__item:nth-child(4) .card__link:after {
  position: absolute;
  content: "Новiнка";
  font-size: small;
  font-weight: 300;
  text-transform: uppercase;
  top: 5%;
  left: 0;
  padding: 5px 10px;
  color: white;
  background-color: #1E2E36;
}
.products .card__item:nth-child(2) .card__link:after, .products .card__item:last-child .card__link:after {
  position: absolute;
  content: "Хiт продажу";
  font-size: small;
  font-weight: 300;
  text-transform: uppercase;
  top: 5%;
  left: 0;
  padding: 5px 10px;
  color: white;
  background-color: #1E2E36;
}
.products .card__item:nth-child(2) .card__link::before, .products .card__item:last-child .card__link::before {
  position: absolute;
  content: "Акцiя";
  font-size: small;
  font-weight: 300;
  text-transform: uppercase;
  top: 20%;
  left: 0;
  padding: 5px 10px;
  color: white;
  background-color: red;
}
.products .card__link {
  display: flex;
  position: relative;
}
.products .card__img {
  width: 100%;
  max-height: 250px;
  height: 100%;
}
.products .card-text-wrapper {
  padding: 15px;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  transition: all 0.3s;
}

.about {
  padding: 100px 0 0;
}
.about__title {
  margin: 0 0 50px;
}
.about .content-wrapper {
  display: flex;
  align-items: center;
  min-height: 650px;
  background-image: url("../images/about-bg.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: center;
}
.about .paragraph {
  padding: 50px 30px;
  width: 50%;
  height: 100%;
  background-color: white;
  border-right: 15px solid #44C697;
}
.about .paragraph__text {
  display: inline-block;
  font-weight: 500;
  font-size: 18px;
}
.about .paragraph__text .first-word {
  color: #44C697;
}
.about .paragraph__text:not(:last-child) {
  margin: 0 0 15px;
}

.questions {
  padding: 100px 0;
}
.questions__title {
  margin: 0 0 50px;
}
.questions .content-wrapper {
  display: flex;
  align-items: center;
  justify-content: end;
  min-height: 570px;
  height: 100%;
  background-image: url("../images/questions-bg.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: center;
}
.questions .form {
  display: flex;
  flex-direction: column;
  padding: 50px 30px;
  background-color: white;
  border-left: 15px solid #44C697;
}
.questions .form label {
  font-weight: 700;
  font-size: 36px;
  margin: 0 0 30px;
}
.questions .form__name, .questions .form__tel {
  width: 100%;
  height: 50px;
  padding: 0 15px;
  background: transparent;
  border-radius: 4px;
  border: 1px solid grey;
  animation: shake 0.14s 3;
}
.questions .form__name:valid, .questions .form__tel:valid {
  border-color: #45feaf;
  animation: none;
}
.questions .form__name:invalid, .questions .form__tel:invalid {
  border-color: grey;
  animation: shake 0.14s 3;
}
.questions .form__submit {
  cursor: pointer;
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  border: none;
  margin: 0 0 30px;
}
.questions .form-discription {
  display: inline-block;
  width: 90%;
  max-width: 400px;
  font-weight: 400;
}
.questions .form-discription span {
  font-weight: bolder;
}

.footer {
  color: white;
  background-color: #1E2E36;
  background-image: url("../images/footer-img.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: right;
}
.footer__inner {
  background-color: #1E2E36;
  padding: 50px 50px 15px;
  width: 50%;
}
.footer__logo {
  margin: 0 0 50px;
}
.footer .content-wrapper {
  text-transform: uppercase;
  display: flex;
  gap: 40px;
  margin: 0 0 100px;
}
.footer .menu-list,
.footer .categories-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer .menu-list li,
.footer .categories-list li {
  display: inline-block;
  padding: 0 0 0 25px;
  position: relative;
}
.footer .menu-list li::before,
.footer .categories-list li::before {
  left: 0;
  right: 100%;
  top: 50%;
  content: "";
  border-left: 15px solid #44C697;
  transform: translateY(-50%);
  height: 3px;
  position: absolute;
}
.footer .trademarks-wrapper {
  display: flex;
  justify-content: space-between;
}
.footer .company__link::before {
  content: url("../images/svg/glyanec.svg");
  padding: 5px;
  vertical-align: middle;
}
.footer .contact-wrapper {
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 15px;
}
.footer .contact-wrapper .days::before {
  content: url("../images/svg/calendar.svg");
  padding: 0 5px 0 0;
  vertical-align: middle;
}
.footer .contact-wrapper .map::before {
  content: url("../images/svg/map-pin.svg");
  padding: 0 5px 0 0;
  vertical-align: middle;
}
.footer .contact-wrapper .phones {
  display: flex;
  flex-direction: column;
}
.footer .contact-wrapper .phone-number:not(:last-child)::before {
  content: url("../images/svg/smartphone_white.svg");
  padding: 0 5px 0 0;
  vertical-align: middle;
}
.footer .contact-wrapper .phone-number:last-child::before {
  content: url("../images/svg/smartphone_white.svg");
  padding: 0 5px 0 0;
  vertical-align: middle;
  opacity: 0;
}
.footer a {
  transition: all 0.3s;
}
.footer a:hover {
  color: #44C697;
  transition: all 0.3s;
}
.footer .social__text {
  text-transform: none;
}
.footer .social-list {
  display: flex;
}
.footer svg path {
  fill: white;
  transition: all 0.3s;
}
.footer svg:hover path {
  fill: #44C697;
  transition: all 0.3s;
}

@media (max-width: 1400px) {
  .header .categories-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
  }
  .header .social-list span {
    display: none;
  }
}
@media (max-width: 1150px) {
  .benefits, .products, .about, .questions {
    padding: 50px 0 0 0;
  }
  .benefits__title, .products__title, .about__title, .questions__title {
    margin: 0 0 30px;
  }
  .container {
    padding: 0 15px;
  }
  .header {
    width: 100%;
    padding: 0 15px 0 0;
    position: fixed;
    transition: all 0.3s;
    top: 100px;
    transform: translateX(200%);
  }
  .header-top, .header-bot {
    border-bottom: none;
    padding: 0;
    border-right: 15px solid #44C697;
  }
  .header-top .container, .header-bot .container {
    padding: 15px 30px 0 0;
  }
  .header-bot .container {
    padding: 15px 30px 15px 0;
  }
  .header-top {
    margin: 0 0 -1px;
  }
  .header-top__inner {
    flex-direction: column-reverse;
    gap: 10px;
    align-items: end;
  }
  .header-bot__inner {
    display: flex;
    flex-direction: column;
    align-items: end;
  }
  .header .menu {
    margin: 0;
  }
  .header .menu-list {
    flex-direction: column;
    align-items: flex-end;
  }
  .header .social-wrapper {
    flex-direction: column;
    align-items: flex-end;
    gap: 0;
  }
  .header .logo {
    display: none;
  }
  .header .categories-list {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin: 0 0 15px;
  }
  .header .callback-bucket {
    flex-direction: column;
    align-items: end;
    gap: 5px;
  }
  .header .callback__link {
    padding: 10px;
    max-width: 150px;
  }
  #burger-menu {
    cursor: pointer;
    height: 27px;
    width: 27px;
    margin: 0 15px;
    overflow: visible;
    position: relative;
    z-index: 2;
    transform: scale(1.3);
  }
  #burger-menu span,
  #burger-menu span:before,
  #burger-menu span:after {
    background: #1E2E36;
    display: block;
    height: 4px;
    opacity: 1;
    position: absolute;
    transition: 0.3s ease-in-out;
  }
  #burger-menu span:before,
  #burger-menu span:after {
    content: "";
  }
  #burger-menu span {
    right: 0px;
    top: 13px;
    width: 27px;
  }
  #burger-menu span:before {
    left: 0px;
    top: -10px;
    width: 16px;
  }
  #burger-menu span:after {
    left: 0px;
    top: 10px;
    width: 20px;
  }
  #burger-menu.close span {
    transform: rotate(-45deg);
    top: 13px;
    width: 27px;
  }
  #burger-menu.close span:before {
    top: 0px;
    transform: rotate(90deg);
    width: 27px;
  }
  #burger-menu.close span:after {
    top: 0px;
    left: 0;
    transform: rotate(90deg);
    opacity: 0;
    width: 0;
  }
  .overlay {
    transform: translate(0);
    transition: all 0.6s;
  }
  .benefits-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(355px, 1fr));
    justify-items: center;
    justify-content: center;
  }
  .benefits__item {
    max-width: none;
  }
  .products .card-list {
    grid-template-columns: repeat(auto-fill, minmax(355px, 1fr));
    justify-content: center;
    justify-items: center;
  }
  .about .paragraph {
    width: 100%;
    height: 100%;
    padding: 0 15px;
  }
  .about .content-wrapper {
    min-height: auto;
  }
  .questions .content-wrapper {
    min-height: auto;
    background-size: cover;
    justify-content: center;
  }
  .footer {
    background-image: none;
  }
  .footer .footer__logo {
    margin: 0 0 15px;
  }
  .footer__inner {
    width: 100%;
    padding: 30px 30px 15px;
    text-align: center;
  }
  .footer .content-wrapper {
    margin: 0 0 15px;
    justify-content: space-around;
  }
  .footer .social__text {
    display: none;
  }
  .footer .social-list {
    justify-content: center;
  }
}
@media (max-width: 900px) {
  .header_mobile__inner .social-wrapper .social-list {
    display: none;
  }
  .hero-minimodal {
    padding: 50px 25px;
  }
  .hero-title {
    font-size: 36px;
    margin: 0 0 25px;
  }
  .hero-subtitle, .hero-descript {
    font-size: 24px;
  }
}
@media (max-width: 770px) {
  .benefits__item p {
    max-width: none;
  }
  .products .card-list {
    grid-template-columns: repeat(auto-fill, minmax(355px, 500px));
    justify-content: center;
    justify-items: center;
    gap: 15px;
    margin: 0 0 15px;
  }
  .products .filter-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin: 0 0 15px;
  }
  .footer .categories-list, .footer .menu-list {
    display: none;
  }
  .footer .contact-wrapper {
    flex-direction: row;
  }
}
@media (max-width: 700px) {
  .header_mobile__inner .social-wrapper {
    display: none;
  }
  .header_mobile__inner .logo {
    margin: 0;
  }
  .questions .form {
    padding: 25px 15px;
  }
}
@media (max-width: 650px) {
  .footer .contact-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 500px) {
  .header_mobile .logo__img, .header_mobile .logo {
    width: 90%;
  }
  .hero-minimodal {
    padding: 15px 0;
  }
  .footer .footer__inner {
    padding: 15px;
  }
  .footer .footer__logo {
    width: 90%;
  }
}
@keyframes shake {
  0%, 100% {
    translate: 0;
  }
  25% {
    translate: 5px 0;
  }
  75% {
    translate: -5px 0;
  }
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Black.eot");
  src: local("Proxima Nova Black"), local("ProximaNova-Black"), url("../fonts/ProximaNova-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Black.woff2") format("woff2"), url("../fonts/ProximaNova-Black.woff") format("woff"), url("../fonts/ProximaNova-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Extrabld.eot");
  src: local("Proxima Nova Extrabold"), local("ProximaNova-Extrabld"), url("../fonts/ProximaNova-Extrabld.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Extrabld.woff2") format("woff2"), url("../fonts/ProximaNova-Extrabld.woff") format("woff"), url("../fonts/ProximaNova-Extrabld.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Bold.eot");
  src: local("Proxima Nova Bold"), local("ProximaNova-Bold"), url("../fonts/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Bold.woff2") format("woff2"), url("../fonts/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Regular.eot");
  src: local("Proxima Nova Regular"), local("ProximaNova-Regular"), url("../fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Regular.woff2") format("woff2"), url("../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Semibold.eot");
  src: local("Proxima Nova Semibold"), local("ProximaNova-Semibold"), url("../fonts/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Semibold.woff2") format("woff2"), url("../fonts/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}/*# sourceMappingURL=style.css.map */